#### Zadanie 1

Zadeklaruj listę `miasta` która będzie zawierała następujące stringi "gdańsk", "kraków", "warszawa", "sopot"

In [12]:
miasta = ["gdańsk", "kraków", "warszawa", "sopot"]
print(miasta)

['gdańsk', 'kraków', 'warszawa', 'sopot']

#### Zadanie 2

Dodaj do listy `miasta` nastepujące wartości: "gdynia", "poznań"

In [13]:
miasta.extend(["gdynia", "poznań"])
print(miasta)

['gdańsk', 'kraków', 'warszawa', 'sopot', 'gdynia', 'poznań']

#### Zadanie 3

Dodaj do listy `miasta` elementy następującej listy:

In [14]:
inne_miasta = ["wrocław", "łódź"]
miasta.extend(inne_miasta)
print(miasta)

['gdańsk', 'kraków', 'warszawa', 'sopot', 'gdynia', 'poznań', 'wrocław', 'łódź']

#### Zadanie 4

Wypisz wszystkie miasta z listy `miasta`, ale pisane wielką literą

In [19]:
for i in miasta:
   print(i.capitalize())

Gdańsk
Kraków
Warszawa
Sopot
Gdynia
Poznań
Wrocław
Łódź

#### Zadanie 5

Stwórz nową listę w której będą miasta z listy `miasta`, ale pisane wielką literą

In [28]:

Miasta_test = [i.capitalize() for i in miasta]

print(Miasta_test)

['Gdańsk', 'Kraków', 'Warszawa', 'Sopot', 'Gdynia', 'Poznań', 'Wrocław', 'Łódź']

#### Zadanie 6

Zadeklaruj listę `liczby`, która będzie zawierała liczby od 1 do 10 (włącznie) na podane sposoby

a. Podając wartości

b. Konstruktorem `list()` i obiektem `range()`

In [33]:
liczby=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(liczby)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
liczby=[i for i in range(1,11)]
print(liczby)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Zadanie 7

Wypisz wszystkie liczby z listy `liczby`, ale powiększone o 10 - tzn. 11, 12 ... 20

In [34]:
liczby=[i+10 for i in range(1,11)]
print(liczby)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#### Zadanie 8

Stwórz listę `do_kwadratu` w której znajdą się elementy listy `liczby`, ale podniesione do drugiej potęgi

In [55]:
do_kwadratu=[i**2 for i in liczby]
print(do_kwadratu)
print(liczby[1]+liczby)

[121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

TypeError: unsupported operand type(s) for +: 'int' and 'list'

#### Zadanie 9

Stwórz listę `nieparzyste` w której znajdą się nieparzyste elementy listy `liczby`

In [60]:
nieparzyste=[]
for i in range(len(liczby)):
               if liczby[i]%2==1:
                nieparzyste+=[liczby[i],]
print(nieparzyste)

[11, 13, 15, 17, 19]

#### Zadanie 10

Stwórz listę `duzo_liczb`, która będzie zawierała liczby od 0 do 1000 (włącznie)

Policz ile z tych liczb jest podzielnych przez 7 i wypisz wynik

In [1]:
count=0
duzo_liczb=[i for i in range(1001)]
for i in duzo_liczb:
    if i%7==0:
        count+=1
print(count)

143